@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

;:root{ 
 --cor-primcipal: #6E859F; 
 --cor-sengundaria: #284260;       
--cor-destaque: #C92BFC;
}

body{
     font-family: 'Chakra Petch', sans-serif;
     color: var(--cor-principal)
}

h1, h2, h5 { 
    color: va(--cor-segundaria);
    font-weight: 700;
}

.lead { 
   color: var(--cor-desta);
   font-weight: 700;
}

a, bnt-link:houver { 
    color: var(--cor-principal);
}

footer a:hover {        
  color: var(--cor-destaque)
}